body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1, h2, h3 {
  margin-bottom: 1.5rem;
}
h1 {
  font-weight: bold;
}
h2 {
  color: #ab080e;
}

.oxyta {
  color: #ab080e;
}

.net {
  color: #f9dc00;
}
