<%
  var settings = require("ep_etherpad-lite/node/utils/Settings");
%>
<!doctype html>
<html>
  <head>
        <title><%=settings.title%></title>
        <meta charset="utf-8">
        <meta name="referrer" content="no-referrer">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="shortcut icon" href="<%=settings.favicon%>">

        <link rel="localizations" type="application/l10n+json" href="locales.json">
        <script type="text/javascript" src="static/js/html10n.js"></script>
        <script type="text/javascript" src="static/js/l10n.js"></script>
        <link href="static/custom/index.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <strong><span class="oxyta">Oxyta</span><span class="net">.net</span></strong>
      </a>
    </nav>

    <div class="container">
      <h1>Bloc Note ("pads")</h1>
      <main id="classic">

        <div class="row">
          <div class="col-md-6">
            <h2>Qu'est-ce que c'est&nbsp;?</h2>
            <p class="text-center"><img src="accueil/framapad.png" alt="" class="ombre"></p>
            <div class="caption">
                <p>Un «&nbsp;pad&nbsp;» est un éditeur de texte collaboratif en ligne.
                Les contributions de chaque utilisateur sont signalées par un code couleur,
                apparaissent à l’écran en temps réel et
                sont enregistrées au fur et à mesure qu’elles sont tapées.</p>
            </div>
          </div>
          <div class="col-md-6" id="howitworks">
            <h2>Comment ça marche&nbsp;?</h2>
            <ul>
                <li>Créez un pad.</li>
                <li>Commencez à <strong>rédiger</strong> votre texte</li>
                <li>et <strong>invitez</strong> vos collaborateurs.</li>
                <li>Chaque participant se distingue par une <strong><span class="fc_r5">c</span><span class="fc_o5">o</span><span class="fc_j6">u</span><span class="fc_v5">l</span><span class="fc_b9">e</span><span class="fc_f5">u</span><span class="fc_m5">r</span></strong></li>
                <li>et peut <strong>tchatter</strong> avec le groupe.</li>
                <li>Si nécessaire, restaurez une ancienne version depuis l’<strong>historique</strong></li>
                <li>et une fois votre travail terminé, <strong>exportez</strong>-le.</li>
            </ul>
          </div>
        </div>
      </main>

      <div id="wrapper">
      <% e.begin_block("indexWrapper"); %>
          <div id="inner">
            <div class="form-group">
              <button class="btn btn-primary" id="button" onclick="go2Random()" data-l10n-id="index.newPad">Créez un pad</button>
            </div>
              <form action="#" onsubmit="go2Name();return false;">
                <div class="text-center">
                    <label id="label" for="padname" data-l10n-id="index.createOpenPad">
                      ou créer / ouvrir un pad intitulé :</label>
                </div>
                <div class="row justify-content-center">
                  <div class="col-auto">
                    <input class="form-control" type="text" id="padname" maxlength="50" autofocus x-webkit-speech>
                  </div>
                  <div class="col-auto">
                    <button class="btn btn-primary" type="submit">OK</button>
                  </div>
              </form>
          </div>
      <% e.end_block(); %>
      </div>
    </div>

    <script src="static/custom/index.js"></script>
    <script>
        // @license magnet:?xt=urn:btih:8e4f440f4c65981c5bf93c76d35135ba5064d8b7&dn=apache-2.0.txt
        function go2Name()
        {
            var padname = document.getElementById("padname").value;
            padname.length > 0 ? window.location = "p/" + padname : alert("Please enter a name")
        }

        function go2Random()
        {
            window.location = "p/" + randomPadName();
        }

        function randomPadName()
        {
            var chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
            var string_length = 10;
            var randomstring = '';
            for (var i = 0; i < string_length; i++)
            {
                var rnum = Math.floor(Math.random() * chars.length);
                randomstring += chars.substring(rnum, rnum + 1);
            }
            return randomstring;
        }

        // start the custom js
        if (typeof customStart == "function") customStart();
        // @license-end
    </script>
    <div style="display:none"><a href="/javascript" data-jslicense="1">JavaScript license information</a></div>
  </body>
</html>
